*{
    margin: 0px;
}
/* Shared Styles */


.work-sans-normal{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.dark01{
    color: rgba(19, 19, 19, 1);
}
.dark02{
    color: rgba(66, 66, 66, 1)
}
.dark03{
    color: rgba(114, 114, 114, 1);
}
.display-flex{
    display: flex;
}
/* Header Styles*/
header{
    background-color: rgba(255, 144, 14, 0.1);
}
.nav-title{
    max-width: 1440px;
    margin: 0px auto;
    padding-top: 45px;
    justify-content: space-between;
    align-items: center;
}
.arch-logo{
    font-size: 2.8rem;
    font-weight: 700;
}
.nav-lists{
    gap: 30px;
}
.nav-list{
    list-style-type: none;
}
.nav-link{
    text-decoration: none;
}
.header-content{
    max-width: 860px;
    margin: 117px auto 50px;
    text-align: center;
    justify-content: center;
}
.header-title{
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 20px;
}
.header-description{
    font-size: 1rem;
    margin-bottom: 32px;
}
.btn-primary{
    color: white;
    background-color: rgba(255, 144, 14, 1);
    font-size: 1.25rem;
    font-family: 600;
    padding: 21px 25px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
.header-image{
    max-width: 1440px;
    margin: 0px auto;
    padding-bottom: 50px;
}
.banner-image{
    width: 100%;
}

/* Quick feature Section Style */
.quick-feature{
    max-width: 1350px;
    margin: 75px auto;
    justify-content: space-between;
    align-items: center;
}
.team-images{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.team-image{
    size: 100%;
}
.team-content{
    max-width: 540px;
}
.team-title{
    font-size: 2.8rem;
    margin-bottom: 24px;
}
#quick-list{
    font-weight: 500;
}
#team-title-mid{
    font-weight: 700;
}
#feature{
    font-weight: 700;
    color: rgba(255, 144, 14, 1);
}
.team-description{
    margin-bottom: 32px;
}
/* Feature to Love section styles */
.features-to-enjoy{
    max-width: 1440px;
    margin: 130px auto;
    align-items: center;
    gap: 140px;
}
.feature-container{
    max-width: 586px;
}
.feature-title{
    font-size: 2.8rem;
    font-weight: 700;
    padding-left: 21px;
    border-left: 5px solid rgba(255, 144, 14, 1);
    margin-bottom: 20px;
}
.feature-card{
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
}
.feature-heading{
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 10px;
}
.female-archi{
    width: 100%;
    height: 100%;
}
.feature-badge{
    margin-left: -100px;
    margin-top: -100px;
}
#exp-year{
    font-size: 4rem;
    font-weight: 700;
}
#exp{
    font-size: 1.5rem;
    font-weight: 600;
}
/* Some Facts Section Styles */
.facts{
    max-width: 1440px;
    margin: 0px auto;
}
.fact-title-container{
    max-width: 540px;
}
.fact-title{
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 20px;
}
.fact-cards{
    margin-top: 100px;
    justify-content: space-around;
    margin-bottom: 100px;
}
.fact-card{
    flex-direction: column;
    gap: 10px;
    text-align: center;
    padding: 45px 35px 60px;
    border: 1.5px solid rgba(255, 144, 14, 1);
    border-radius: 8px;
}
.card-image{
    size: 45px;
}
.card-title{
    font-size: 1.25rem;
    font-weight: 600;
}
.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
}
/* Sponsor section style */
.sponsor{
    max-width: 1440px;
    margin: 100px auto;
}
.sponsor-title-container{
    max-width: 540px;
    margin: 0px auto;
    text-align: center;
}
.sponsor-title{
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 24px;
}
.sponsor-title-description{
    margin-bottom: 50px;

}
.sponsor-images{
    justify-content: space-between;
}
.sponsor-img{
    filter: grayscale(100%);
}
footer{
    max-width: 1440px;
    margin: 50px auto 0px;
    background-color: rgba(255, 144, 14, 0.1); ;
}
.footer-line{
    font-size: 1.25rem;
    font-weight: 400;
    padding: 39px;
    text-align: center;
}
/* Responsive style for small devices */

@media screen and (max-width:576px) {
    .arch-logo{
        margin-bottom: 30px;
    }
    .nav-title , 
    .features-to-enjoy ,
    .fact-cards , 
    .sponsor-images{
        flex-direction: column;
    }
    .nav-lists{
        justify-content: space-between;
        padding: 0px ;
    }
    .header-content{
        margin-top: 55px;
    }
    .quick-feature{
        flex-direction: column-reverse;
    }
    .team-content ,
    .fact-title-container , 
    .sponsor-title-container{
        margin-bottom: 30px;
        padding: 0px 20px;
    }
    .team-images{
        grid-template-columns: repeat(1, 1fr);
    }
    .feature-badge{
        margin: 0px;
    }
    .feature-container{
        gap: 50px;
    }
    .fact-cards{
        max-width: 75%;
        margin: 10px auto;
        gap: 20px;
    }
    .sponsor-img{
        width: 50%;
        margin: 30px auto;
        text-align: center;
    }
}
/* Responsive for medium devices */
@media screen and (min-width:576px) and (max-width:992px) {
    .quick-feature{
        flex-direction: column-reverse;
    }
    .team-content{
        margin-bottom: 30px;
    } 
    .features-to-enjoy{
        flex-direction: column;
    }
     .feature-badge{
        margin: 0px;
    }
    .fact-title ,
    .fact-title-container{
        margin: 10px auto;
    } 
    .fact-description{
        margin: 10px auto;
    }
    .fact-cards{
        width: 75%;
        margin: 50px auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }
    .sponsor-images{
        width: 50%;
        margin: 50px auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }
    .sponsor-img{
        text-align: center;
    }
    .telerama-img{
         grid-column: 1 / span 2;
         text-align: center;
    }
}